<!DOCTYPE html>

<html>

<head>

    <link rel="stylesheet" href="/css/style.css">

</head>

<body>

    {{>header}}
    <p>{{name}}</p>

    <p>Adder text to deploy</p>

     {{>footer}}
</body>



</html>